
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
}

.navbar {
  background-color: #09332f;
  display: block;

}

.nav-item{
margin-left: 30px;
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 2   0px;
  border-radius: 50px;
  transition: 500ms;
   font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: #09332f !important;   /* Yeşil renk */
  background-color: white;
     font-family: "Montserrat", sans-serif;
     transition: 500ms;
}

.nav-link.active {
  color: #09332f !important;
  background-color: white;
font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


.giris-btn{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    width: 100%;
}
.giris-btn span{
  position: relative;
  bottom: 10px;
}
.giris-btn i{
position: relative;
right: 20px;
font-size: 40px;
} 
.giris-btn:hover{
background-color: #09332f;
border: 2px solid white;
color: white;
    font-weight: 600;
transition: 500ms;
}
.offcanvas{
  background-color: #09332f;
}

.navbar{
  display: block;
}
.app-container{
  display: none;
}
      .giris-btn-sm{
        display: none;
      }

      .app-bar {
    position: fixed; /* absolute yerine fixed olarak değiştirildi */
    bottom: 0;       /* Ekranın en altına sabitler */
    left: 0;         /* Tam genişlik için eklendi */
    right: 0;        /* Tam genişlik için eklendi */
    background-color: #09332f;
    padding: 10px 0; /* Dikey padding (iç boşluk) verildi */
    height: auto;    /* Yüksekliği içeriğe göre ayarlar */
    z-index: 1000;   /* Diğer elementlerin üzerinde kalmasını sağlar */
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-item{
  color: white;
  font-size: 35px;
}
.app-item a{
  color: white;
text-decoration: none;
}
.app-bar .active i{
  background-color: white;
  color: #09332f;
  border-radius: 50px;
  padding: 15px;
}

.profil-container{
    padding: 10px;
    background-color: #09332f;
    height: 100%;
    border-radius: 30px;
}
#profil_tarifler{
  display: none;
}
.profil-image img{
width: 100%;
height: 190px;
border-radius: 50%;
border: 5px solid white;
}
.profil-kadi{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.profil-isim{
        color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
        font-size: 20px;
}
.profil-onay{
      font-family: "Montserrat", sans-serif;
    font-weight: 400;
        font-size: 12px;
        color: white;
}
.hizmet-box{
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
}
.hizmet-header{
      font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 25px;
        color: white;
}
.hizmet-detay{
        font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 15px;
        color: white;
}
.hizmet-fiyat{
          font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 25px;
        color:#09332f;
        background-color: white;
        border-radius: 50px;
}
.hizmet-kirala button{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: 2px solid white;
      transition: 500ms;
}
.hizmet-kirala button:hover{
  transition: 500ms;
border: 2px solid white;
background-color: #09332f;
color: white;
}
.navbar-item button{
  color: white;
  text-align: center;
        font-family: "Montserrat", sans-serif;
        width: 100%;
        background: none;
        border: none;
}
.navbar .active{
  border-bottom: 2px solid white;
}
#profil_ozgecmis{
  display: inline;
}
.profil-ozgecmis{
  color: white;
          font-family: "Montserrat", sans-serif;
          height: 60%;
          max-height: 400px;
          overflow-y: scroll;
}
.carpi{
  color: white;
  font-size: 25px;
  position: relative;
  left: 30%;
}
.tarif-item {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 350px; /* Kart genişliğini buradan ayarlayabilirsiniz */
    margin: 10px;
}
.tarif-item a{
  text-decoration: none;
}
.tarif-image img {
    width: 100%;
    border-radius: 20px;
    height: 200px; /* Resim yüksekliklerini eşitlemek için */
    object-fit: cover; /* Resmin orantısını bozmadan doldurması için */
}

.tarif-header {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #09332f;
    font-weight: 500; /* font-weight 00 geçersiz, 500 yaptım */
    text-align: center;
}

.tarif-yayimlayan {
    font-family: "Montserrat", sans-serif;
    color: #09332f;
}


@media screen and (max-width: 1199px) {
.profil-image img{
    width: 100%;
    height: 150px;
}
}
@media screen and (max-width: 993px) {
.app-container{
  display: flex;
}
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    display: block;
}
.giris-btn-sm span{
  position: relative;
  bottom: 10px;
}
.giris-btn-sm i{
position: relative;
right: 20px;
font-size: 40px;
} 
.profil-image img{
    width: 100%;
    height: 140px;
}
.profil-isim{
  font-size: 16px;
}
.profil-onay{
  font-size: 11px;
}
.profil-kadi{
  font-size: 15px;
}
.hizmet-header{
  font-size: 15px;
}
.hizmet-detay{
  font-size: 12px;
}

.hizmet-fiyat{
          font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 20px;
        color:#09332f;
        background-color: white;
        border-radius: 50px;
}
.hizmet-kirala button{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid white;
      transition: 500ms;
}

}

@media screen and (max-width: 767px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
}
.giris-btn-sm span{
  position: relative;
  bottom: 10px;
}
.giris-btn-sm i{
position: relative;
right: 20px;
font-size: 40px;
} 
.profil-image img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 20%;
}
.profil-isim{
  font-size: 16px;
}
.profil-onay{
  font-size: 11px;
}
.profil-kadi{
  font-size: 15px;
}
.hizmet-header{
  font-size: 15px;
}
.hizmet-detay{
  font-size: 12px;
}

.hizmet-fiyat{
          font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 20px;
        color:#09332f;
        background-color: white;
        border-radius: 50px;
}
.hizmet-kirala button{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid white;
      transition: 500ms;
}
}


@media screen and (max-width: 575px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
}
.profil-image img{
    width: 150px;
    height: 150px;
        position: relative;
    left: 0%;
}
.profil-isim{
  font-size: 25px;
}
.profil-onay{
  font-size: 11px;
}
.profil-kadi{
  font-size: 15px;
}
.hizmet-header{
  font-size: 15px;
}
.hizmet-detay{
  font-size: 12px;
}

.hizmet-fiyat{
          font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 20px;
        color:#09332f;
        background-color: white;
        border-radius: 50px;
}
.hizmet-kirala button{
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid white;
      transition: 500ms;
}
.profil-container{
    padding: 10px;
    background-color: #09332f;
    height: 100%
    ;
    border-radius: 0px;
}
.profil-text{
  position: relative;
  left: 30%;
  bottom: 100px;
}
.profil-container{
    padding: 10px;
    background-color: #09332f;
    height: 120%;
    border-radius: 0px;
}
}
@media screen and (max-width: 445px) {
.profil-image img{
    width: 120px;
    height: 120px;
}
.profil-isim{
  font-size: 20px;
}
.profil-onay{
  font-size: 11px;
}
.profil-kadi{
  font-size: 15px;
}
.hizmet-header{
  font-size: 15px;
}
.hizmet-detay{
  font-size: 12px;
}


.profil-text{
  position: relative;
  left: 30%;
  bottom: 100px;
}
}
@media screen and (max-width: 361px) {
.profil-text{
  position: relative;
  left: 37%;
  bottom: 100px;
}
}
@media screen and (max-width: 320px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 0px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    width:50%;
}
.giris-btn-sm span{
  position: relative;
  bottom: 7px;
}
.giris-btn-sm i{
position: relative;
right: 0px;
font-size: 30px;
} 

}