
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
}

.navbar {
  background-color: #09332f;
  display: block;

}

.nav-item{
margin-left: 30px;
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 2   0px;
  border-radius: 50px;
  transition: 500ms;
   font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: #09332f !important;   /* Yeşil renk */
  background-color: white;
     font-family: "Montserrat", sans-serif;
     transition: 500ms;
}

.nav-link.active {
  color: #09332f !important;
  background-color: white;
font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


.giris-btn{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    width: 100%;
}
.giris-btn span{
  position: relative;
  bottom: 10px;
}
.giris-btn i{
position: relative;
right: 20px;
font-size: 40px;
} 
.giris-btn:hover{
background-color: #09332f;
border: 2px solid white;
color: white;
    font-weight: 600;
transition: 500ms;
}
.offcanvas{
  background-color: #09332f;
}

.navbar{
  display: block;
}
.app-container{
  display: none;
}
      .giris-btn-sm{
        display: none;
      }

      .app-bar {
    position: fixed; /* absolute yerine fixed olarak değiştirildi */
    bottom: 0;       /* Ekranın en altına sabitler */
    left: 0;         /* Tam genişlik için eklendi */
    right: 0;        /* Tam genişlik için eklendi */
    background-color: #09332f;
    padding: 10px 0; /* Dikey padding (iç boşluk) verildi */
    height: auto;    /* Yüksekliği içeriğe göre ayarlar */
    z-index: 1000;   /* Diğer elementlerin üzerinde kalmasını sağlar */
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-item{
  color: white;
  font-size: 35px;
}
.app-item a{
  color: white;
text-decoration: none;
}
.app-bar .active i{
  background-color: white;
  color: #09332f;
  border-radius: 50px;
  padding: 15px;
}


.danismanlik-box{
    background-color: #09332f;
    height: 300px;
    width: 100%;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  bottom: 1px;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size:  8vw;
     position: absolute;
     left: 31%;
     top: 22%;
}
.tiklanan-tarifler-header{
      font-family: "Montserrat", sans-serif;
      color: #09332f;
      font-size: 20px;
      font-weight: 600;
      border-bottom: #09332f 2px solid;
      width: 95%;

}
.tarif-item {
    padding: 20px;
    background-color: #09332f;
    border-radius: 20px;
    width: 350px; /* Kart genişliğini buradan ayarlayabilirsiniz */
    margin: 10px;
}
.tarif-item a{
text-decoration: none;
}
.tarif-image img {
    width: 100%;
    border-radius: 20px;
    height: 200px; /* Resim yüksekliklerini eşitlemek için */
    object-fit: cover; /* Resmin orantısını bozmadan doldurması için */
}

.tarif-header {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500; /* font-weight 00 geçersiz, 500 yaptım */
    text-align: center;
}

.tarif-yayimlayan {
    font-family: "Montserrat", sans-serif;
    color: white;
}


@media screen and (max-width: 1199px) {
.danismanlik-box{
    height: 210px;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: 10%;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8vw;
     position: absolute;
     left: 31%;
     top:22%;
}
}
@media screen and (max-width: 993px) {
.app-container{
  display: flex;
}
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    display: block;
}
.giris-btn-sm span{
  position: relative;
  bottom: 10px;
}
.giris-btn-sm i{
position: relative;
right: 20px;
font-size: 40px;
} 
.danismanlik-box{
    height: 130px;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: 10%;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8vw;
     position: absolute;
     left: 31%;
     top:18%;
}
}



@media screen and (max-width: 767px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
}
.giris-btn-sm span{
  position: relative;
  bottom: 10px;
}
.giris-btn-sm i{
position: relative;
right: 20px;
font-size: 40px;
} 
.danismanlik-box{
    height: 120px;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: 10%;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8vw;
     position: absolute;
     left: 31%;
     top:18%;
}
}


@media screen and (max-width: 575px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 28px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
}
.danismanlik-box{
    height: 100px;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: 10%;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8vw;
     position: absolute;
     left: 35%;
     top:18%;
}

}
@media screen and (max-width: 320px) {
.giris-btn-sm{
    background-color: white;
    color: #09332f;
    font-family: "Montserrat", sans-serif;
    padding: 5px 0px; 
    border-radius: 50px;
    font-size: 14px;
    transition: 500ms;
    font-weight: 600;
    width:50%;
}
.giris-btn-sm span{
  position: relative;
  bottom: 7px;
}
.giris-btn-sm i{
position: relative;
right: 0px;
font-size: 30px;
} 
.danismanlik-box{
    height: 100px;
}
.transpernt-text{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:  12.5vw;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  font-weight: 600;
  position: relative;
  top: 50px;
  opacity: 0.1;
  font-style: italic;
    user-select: none; 
}
.danismanlik-text{
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 8vw;
     position: absolute;
     left: 37%;
     top:22%;
}
}